*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
  padding: 0 20px;
  /* overflow: hidden; */
  }
  nav{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 2px 5px 0 #0086413b;
    border-radius: 20px;
  cursor: pointer;
  margin: 0 2vh;
  }
  
  nav .head{
    display: flex;
    align-items: center;
   justify-content: space-between;
  }
  nav h1{
    font-size: 30px;
    font-family: cursive;
  }
  nav .head img{
    height: 90%;
    border-radius: 50px;
    
  }
  .add{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  nav h3{
    color: #008641;
    font-size: 30px;
    margin-top: 7vh;
  cursor: pointer;
  }
  .notes-container{
    border-top: 2px solid green;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 3fr));
    gap: 20px;
  padding: 10px;
  }
  .notes .bottom{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  
  }
  .notes .icons{
    display: flex;
    gap: 10px;
  }
  .bottom .icons i:nth-child(3){
    color: red;
  }
  .notes h1{
    border-bottom: 1px solid green;
    font-family: cursive;
  }
  .notes .note-book {
    width: 100%;
    display: flex;
    flex-direction: column;
   word-wrap: break-word;
  }
  .notes{
  border: 2px solid #c9d6cf;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.185);
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */
gap: 30px;
transition: .5s;
-webkit-animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
overflow-y:scroll ;
/* max-height: 30vh; */
  }
  .notes::-webkit-scrollbar{
    color: white;
  }
  @-webkit-keyframes scale-up-left {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
  @keyframes scale-up-left {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
  .text{
  display: flex;
  justify-content: flex-end;
  height: 50vh;
  background-image:url(../assets/cute-cartoon-drawing-green-pen-digitally-generated-54023838-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  background-size: 70vh;
  background-position: 10px;
  }
  textarea{
    height: 15vh;
    margin: 5vh;
    outline: none;
    min-width: 90%;
    border: 1px solid #008641;
    max-width: 30vh;
  
  }
  .text button{
    padding: 15px 50px;
    border: none;
    font-size: 20px;
    text-align: center;
  }
  .text button{
  background-color: #008641;
    color: white;
  border-radius: 7px;
  padding: 10px 6em;
  }
  .text button:hover{
    background-color:#012c16;
    transition: .5s;
  }
  .text-con{
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  box-shadow: 0 0 5px 0 #00864154;
  flex-direction: column;
  align-items: center;
  width: 35%;
  border-radius: 10px;
  
  }
  .text img{
  /* width: 50%; */
  height: 100vh;
  }
  input{
    padding: 20px ;
    width: 90%;
    outline: none;
    border: 1px solid #008641;
  }
  .add img{
  height: 100%;
  /* width: 100%; */
  }
/*  .notes-container{
     background-color: #013f0b; 
  }
*/

  /* -----------------media---------------- */

  @media(max-width:780px){
    .text-con{
        width: 100%;
    }
    
  }
  @media(max-width:620px){
    .toast{
      position: absolute;
      width: 100%;
      right: 0;
    }
  }
  @media(max-width:500px){
    .text-con{
        width: 100%;
    }
    .text{
        background-position: center;
    }
  }
  @media(max-width:400px){
    body{
      padding:  0 0;
    }
     .head img{
     width: 40%;
     height: 10px;
    }

    .head{
      width: 30vh;
    }
    
    .head h1{
      font-size: 20px
    }
    .toast{
      width: 50vh;
    }
  }
  @media(max-width:300px){
    
  }